<!DOCTYPE html>
<html>
    <head>
    <title>DATAKU</title>
    <!--Meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--CDN Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <link type="text/css" rel="stylesheet" href="style.css">

    </head>
    <body>
    <!--Main Navigation menu.-->
        <div id="Navigation">
            <ul>
                <img id="logo" src="assets/logoWhite.png">
                <li id="active"><a href="">Dataku</a></li>
                <li><a href="">Riwayat</a></li>
                <li><a href="">Forum</a></li>
                <li style="float:right"><a type="button" id="signOut" onclick="signOut();">Ganti Akun</a></li>
                <li style="float:right"><a id="Profil" href="Account.html"><img id="MyData" src="assets/MyData.png"></a></li>
                <div id="ddParent">
                    <button id="dropbutton"><img id="set" src="assets/Setting.png"></button>
                        <!--DropDown menu navigation-->
                        <div id="dropdown-content">
                            <a href="#">Pusat Bantuan</a>
                            <a href="#">Tentang</a>
                            <a href="#">Kebijakan & Privasi</a>
                </div>
            </ul>
        </div>

        <!--Side Navigation menu.-->
        <div id="Navigation2">
            <ul>
                <li><a href=""><img id="sideIcon" src="assets/Print.png"></a></li>
                <br><br>
                <li><a href=""><img id="sideIcon" src="assets/Consult.png"></a></li>
                <br><br>
                <li><a href=""><img id="sideIcon" src="assets/Call.png"></a></li>
                <br><br>
                <li><a href=""><img id="sideIcon" src="assets/Virus.png"></a></li>
            </ul>
        </div>
    <h1 align=center>Forum</h1>
    <!--INFORMASI DATA DIRI-->
        <hr>
        <b>Data Diri</b>
        <hr>
        <table style="width:50%">
            <!--FOTO-->
            <img src="user.jpg" align="right" width="104" height="142">
        <tr>
        <th></th>
        <th></th>
        </tr>
        <tr>
            <td>Nama Lengkap</td>
            <td>: Uzumaki Naruto </td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>: Pria </td>
        </tr>
        <tr>
            <td>Tinggi Badan</td>
            <td>: 180 Cm </td>  
        </tr>
            <td>Berat Badan</td>
            <td>: 78 Kg</td>
        <tr>
            <td>Id Pasien</td>
            <td>: A002</td>
        </tr>
            <tr>
            <td>TTL</td>
            <td>: Jepara,19 Oktober 2000</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>: Desa Konoha</td>
        </tr>
         <tr>
            <td>Golongan Darah</td>
            <td>: AB</td>
        </tr>

        </table>
    <!--Alergi-->  
            <hr>
            <b>Alergi</b>
            <hr>
                <table style="width:80%">
            <tr>
            <th></th>
            <th></th>
            </tr>
            <tr>
                <td>Alergi Dingin</td>
                
            </tr>
            <tr>
                <td>Alergi Udang</td>
                 
            </tr>
                <td>Alergi Panas</td>
                
            <tr>
                <td>Alergi Hujan</td>
                
            </tr>
            </table>
    <!--Riwayat Penyakit-->      
                    <hr>
                    <b>Riwayat Penyakit</b>
                    <hr>
                        <table style="width:110%">
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                    <tr>
                        <td>Batuk</td>
                        <td>(2018) </td>
                    </tr>
                    <tr>
                        <td>Typhus</td>
                        <td>(2019)</td>  
                    </tr>
                    <tr>
                        <td>TBC</td>
                        <td>(2019)</td>  
                    </tr>
                    </table>
    <!-- PENYAKIT LAINNYA-->
                            <hr>
                    <b>Riwayat Penyakit Lainnya</b>
                    <hr>
                        <table style="width:110%">
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                    <tr>
                        <td>Katarak</td>
                        <td>(2018) </td>
                    </tr>
                    <tr>
                        <td>Herpes</td>
                        <td>(2019)</td>  
                    </tr>
                    <tr>
                        <td>Kesleo</td>
                        <td>(2019)</td>  
                    </tr>
                    </table>
                        <hr>
                            <b>Kecelakaan</b><hr>
                            <table style="width:180%">
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        <tr>
                            <td>Patah tulang</td>
                            <td>Sembuh</td>
                        </tr>
                        <tr>
                            <td>Patah hati</td>
                            <td>Sembuh </td>  
                        </tr>
                        </table>
    <!--Operasi-Imunisasi-->                  
                            <hr>
                            <b>Operasi Imunisasi</b><hr>
                        katarak<br>
                        Corona Virus<br>
                        <hr>
                            <b>Informasi Tambahan</b><hr>
                       Orang Tampan<br>
                        Orang terlanjur kaya tapi pelit<br><br><br>
    
    <center><p1>Kelompok 4 Ananda Ardian Pratama Putra-1302194049</p1></center>

    </body>
</html>
