* {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Lucida Sans";
	text-align: center;
	color: #fff;
	padding: 10px;
}

h3 {
	font-family: "Lucida Sans";
	text-align: center;
	color: #fff;
	padding: 25px;
}

p {
	font-family: "Lucida Sans";
	text-align: center;
	color: #fff;
	padding: 15px;
}
/*Navigation Tab*/
/*Navigation Tab*/
#Navigation {
	top: 0;
	text-align: center;
	font-family: "Lucida Sans";
	font-size: 18px;
	color: white;
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: #4183d7;
	box-shadow: 0px 0px 8px 2px #808080;
	z-index: 999;
}
#Navigation ul {
	list-style-type: none;
	position: relative;
	text-align: center;
}
#Navigation ul li {
	height: 50px;
	display: inline-block;
}
#Navigation ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#Navigation ul li a:hover {
	background: rgba(224, 224, 224, 0.15);
	border-radius: 8px;
}
#signOut {
	background-color: #f6404f;
	height: 100px;
}
#active {
	color: white;
	border-radius: 4px;
	border-bottom: 4.5px solid rgb(40, 207, 54);
	position: relative;
	bottom: 7.5%;
}

#logo {
	width: 100px;
	float: left;
	margin-left: 1%;
	margin-top: 0.5%;
}
#Profil img {
	width: 40px;
}
#Profil {
	background-color: #2e2e2e;
	height: 100px;
}

/* Dropdown button */
#ddParent #dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
	z-index: 998;
}
/* Dropdown content*/
#dropdown-content {
	display: none;
	border-radius: 10px;
	position: absolute;
	background-color: #4183d7;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: all 1s ease-in;
}

/* Dropdown link. */
#dropdown-content a {
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-family: "Lucida Sans";
	font-size: 14px;
}
#dropbtn img {
	width: 40px;
}

#dropdown-content a:hover {
	background: rgba(224, 224, 224, 0.15);
}

#ddParent:hover #dropdown-content {
	display: block;
	position: fixed;
}
/*Side Navigation Tab*/
#Navigation2 ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 67px;
	background-color: #212121;
	height: 290px;
	position: fixed;
	margin-top: 15%;
	margin-left: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 8px 2px #808080;
	z-index: 997;
}

#Navigation2 li a:hover {
	background-color: rgb(245, 139, 86);

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#sideIcon {
	height: 35px;
	width: 35px;
	margin-left: 25%;
}

/* content */

#main {
	margin-top: 55px;
	padding: 25px;
	height: 100%;
}
.container-rujukan {
	width: 75%;
	margin: auto;
	margin-top: 15px;
	padding: 25px;
	background-image: linear-gradient(180deg, #4183d7, #22a7f0);
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.container-vaksinasi {
	width: 75%;
	margin: auto;
	margin-top: 50px;
	padding: 25px;
	background-image: linear-gradient(180deg, #4183d7, #22a7f0);
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.list-content {
	width: 75%;
	height: 500px;
	margin: auto;
	padding: 25px;
	background-color: #fff;
}

#main ul {
	list-style-type: none;
	box-sizing: border-box;
}

.list-content p {
	color: #000;
	padding: 5px;
}

#main li {
	height: auto;
	box-shadow: 0px 0px 2px 1px #808080;
	margin: 10px;
	padding: 15px;
}

.satgas {
	background-color: #21426c;
	box-sizing: border-box;
}
.properti {
	display: flex;
	padding: 15px;
	justify-content: space-evenly;
}

.kontak .list img {
	width: 25px;
	height: 25px;
	padding-top: 10px;
}
.list {
	display: flex;
}

/* Footer */
footer {
	bottom: 0;
	right: 0;
	left: 0;
	color: white;
	text-align: center;
	z-index: -99;
}

/* micro clearfix */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}
